   .auto-style1 {
            font-family: "Arial Black";
            font-size: 30pt;
            color: #000000;
        }
        
        .auto-style3 {
            font-size: large;
            color: #000000e5;
            font-family: "Arial Black";
        }
        
        .auto-style4 {
            border-style: solid;
            border-width: 2px;
        }
        
        .auto-style5 {
            color: #0e0e0e;
        }
        
        .auto-style6 {
            font-size: x-large;
            color: #000000f5;
            text-decoration: underline;
            font-weight: normal;
            font-family: "Arial Black";
        }
        
        .auto-style7 {
            border-width: 0px;
        }
        
        .auto-style8 {
            font-size: large;
        }
        
        .auto-style9 {
            font-size: large;
            font-weight: bold;
        }
        
        .auto-style10 {
            font-family: "Arial Black";
            font-size: 40pt;
            color: #000000;
            text-decoration: underline;
        }
        
        .auto-style11 {
            font-family: "Arial Black";
            font-size: x-large;
            color: #000000;
        }
        
        .auto-style12 {
            font-size: large;
            color: #000000;
            font-family: "Arial Black";
        }
        
        .auto-style13 {
            color: #000000;
            font-size: 50pt;
        }
        
        .auto-style14 {
            color: #000000;
            font-style: italic;
            font-weight: bold;
        }
        
        .auto-style18 {
            font-size: large;
            color: #000000;
            font-family: "Arial Black";
            text-align: left;
        }
        
        .auto-style20 {
            color: #000000;
        }
        
        .auto-style21 {
            font-size: 20pt;
            color: #000000;
            font-family: "Arial Black";
        }
        
        .auto-style24 {
            font-family: "Arial Black";
            font-size: xx-large;
            color: #000000;
            text-decoration: underline;
            text-align: center;
        }
        
        .auto-style25 {
            color: #000000;
            font-size: 50pt;
        }
        
        .auto-style26 {
            color: #000000;
            font-size: 60pt;
        }
        
        .auto-style27 {
            font-size: 20pt;
            color: #040404;
        }
        
        .auto-style28 {
            color: #000000;
            font-size: 20pt;
        }
        
        .auto-style29 {
            font-family: "Arial Black";
            font-size: 20pt;
            color: #000000;
        }
        
        .auto-style30 {
            color: #000000;
            font-size: 50pt;
        }
        
        .auto-style31 {
            color: #000000;
            font-size: 40pt;
        }
        
        .auto-style32 {
            color: #000000;
            font-size: 40pt;
        }
        .center {
            text-align: center;
        }
        h1.custom-style {
            color: #000000;
            font-size: 24px;
        }